{% extends 'base.html.twig' %}

{% block body %}

    <br />
<div class="container-fluid" style="position: relative; width:70%;" >
   <h1><b>Agregar nuevo periodo</b></h1><br /><br />
    {{ form_start(form) }}   
        {{ form_widget(form) }}
        <input class="btn btn-outline-primary" type="submit" value="Agregar" />
    {{ form_end(form) }}
</br>
    <ul>
        <li>
            <a href="{{ path('vacaciones_index') }}">Volver a la lista</a>
        </li>
    </ul>
</div>    
{% endblock %}
